<div class="box-container">
  <%= partial 'partials/navbar' %>
  <%= partial 'partials/video' %>

<main>
  <%= partial 'partials/services' %>
  <%= partial 'partials/about' %>
  <%= partial 'partials/projects' %>
  <%= partial 'partials/contacts' %>
  <%= partial 'partials/footer' %>

</div>

</main>


